<h4>People List</h4>

<p><a href ng-click="$ctrl.register()">register person</a></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="th-icon"></th>
      <th>id</th>
      <th>name</th>
      <th>hash</th>
      <th class="th-icon"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in $ctrl.people">
      <td><a href="" ng-click="$ctrl.edit(person)"><i class="glyphicon glyphicon-pencil"></i></a></td>
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
      <td>{{person.hash}}</td>
      <td><a href="" ng-click="$ctrl.del(person)"><i class="glyphicon glyphicon-trash"></i></a></td>
    </tr>
  </tbody>
</table>

