html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
}
header {
    padding: 4px 8px;
}
main {
    margin-top: 80px;
    padding: 4px 8px;
}
footer {
    width: calc(100% - 16px);
    padding: 8px;
    position: absolute;
    bottom: 0;
    background-color: #888;
    color: #ddd;
}
.login-form {
    max-width: 40%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.validation-error {
    color: red;
}
